/*-- scss:defaults --*/

/*-- colors --*/
$white_abs: #ffffff;
$white: #e9e9e9;
$dark_grey: #888;
$light_grey: #d6d6d6;
$black: #333;
$black_abs: #000000;

/* Color Theme Swatches in RGBA */
$AgainAgain-1-rgba: rgba(242,186,82, 1);
$AgainAgain-2-rgba: rgba(242,204,135, 1);
$AgainAgain-3-rgba: rgba(242,169,79, 1);
$AgainAgain-4-rgba: rgba(191,191,191, 1);
$AgainAgain-5-rgba: rgba(63,63,63, 1);

/* Color Theme Swatches in RGBA */
$Keloe-1-rgba: rgba(26,26,38, 1);
$Keloe-2-rgba: rgba(74,89,64, 1);
$Keloe-3-rgba: rgba(112,114,53, 1);
$Keloe-4-rgba: rgba(242,238,232, 1);
$Keloe-5-rgba: rgba(140,76,61, 1);


/*-- color vars --*/
$summer-sky1: #94E1F2;
$summer-sky2: #A7E4F2;
$summer-oliver: #81A649;
$summer-oat: #F2E2CE;
$summer-red-san: #D9A273;
$summer-blue-purple: #393459;
$summer-blue-black: #110726;
$summer-vintage-teal: #025951;
$summer-vintage-orange: #BF500F;
$summer-vintage-sand: #D9965B;
$summer-vintage-sojamilk: #F2E6DF;

/*-- fonts --*/
$font-size-root: 1rem;
$body-color: $black;
$link-color: $AgainAgain-3-rgba;


/*-- codes --*/
$code-block-bg: $light_grey;
$code-bg: $light_grey;

/*-- scss:rules --*/

