/*-- scss:defaults --*/

/*-- colors --*/
$white-abs: #ffffff;
$white: #F2F2F2;
$dark-grey: #888;
$light-grey: #e5e5e5;
$black: #333;
$black-abs: #000000;

/* Color Theme Swatches in Hex */
$AgainAgain-1-hex: #F2BA52; 
$AgainAgain-2-hex: #F2CD88; 
$AgainAgain-3-hex: #FF8C27; 
$AgainAgain-4-hex: #BFBFBF; 
$AgainAgain-5-hex: #404040; 

/* Color Theme Swatches in hex */
$red_plane-1-hex: #593140;
$red_plane-2-hex: #556573;
$red_plane-3-hex: #6D7E8C;
$red_plane-4-hex: #8596A6;
$red_plane-5-hex: #D9D0C7;
$red_plane-6-hex: #a66822;

$paper: #F2EADF;
$paper-grey: #dfdcd8;
$paper-dark-grey: #625f5c;
$ink1: #414645;

/*-- color vars --*/
$summer-sky1: #94E1F2;
$summer-sky2: #A7E4F2;
$summer-oliver: #81A649;
$summer-oat: #F2E2CE;
$summer-red-san: #D9A273;
$summer-blue-purple: #393459;
$summer-blue-black: #110726;
$summer-vintage-teal: #025951;
$summer-vintage-orange: #BF500F;
$summer-vintage-sand: #D9965B;
$summer-vintage-sojamilk: #F2E6DF;

$accent-color: $AgainAgain-3-hex;
$second-accent-color: $summer-vintage-orange;
