/*-- scss:rules --*/
@import 'color-dark';

.mini {
    margin: 1em 0;
    // border: 2px solid gray;
    border-left: 5px solid #{$white}; 
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 10px;
    // color: black;
    // background-color: white;
    border-bottom-right-radius: 5px;
}

// .mini-container {

// }