.forward {
    font-size: 1.8em;
    font-weight: 400;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: var(--normal-text-color);
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.description {
    display: none;
}

:root {
    font-size: 14px;
}

body {
    font-size: 14px;
    padding-bottom: 1.1em;
}

h2 {
    font-size: 24px;
    margin-top: 2em;
    margin-bottom: 1.4em;
}

h3 {
    font-size: 20px;
    margin-top: 1.4em;
    margin-bottom: 1.3em;
}

h4 {
    font-size: 18px;
    margin-top: 1.3em;
    margin-bottom: 1.2em;
}

div.tippy-box {
    border-color: var(--normal-text-color) !important;
    background-color: var(--background-color);
}