/* Main container for the sort dropdown */
/* .quarto-listing-sort {
    border: 1px solid var(--ink1);
} */

/* The button that opens the dropdown */
/* .quarto-listing-sort {
  border: 1px solid var(--ink1);
} */

.form-select {
  border-color: var(--ink1);
}

.inpu-group-text {
  border-color: red
}