// color code
@import 'color';

// style setting
/*-- scss:defaults --*/

// theme color
:root{
    --black: #{$black};
    --white: #{$white};
    --light-grey: #{$light-grey};
    --ink1: #{$ink1};
    --canvas: #{$summer-vintage-sojamilk};
    --accent-color: #{$accent-color};
    --second-accent-color: #{$second-accent-color};
    --mute-color-dark: #{$AgainAgain-5-hex};
    --background: #{$red_plane-6-hex};
}

body {
    color: var(--ink1);
    .cell-output {
        background-color: #dfdcd8;
        border-radius: 4px;
      }
}

$body-bg: $paper;
$body-color: $ink1;
$link-color: $accent-color;

$code-block-bg: $paper-grey;
$code-bg: $paper-grey;
$code-color: #74431C;
$kbd-color: $paper-dark-grey;

$table-border-color: $paper-dark-grey;

table {
    border-collapse: collapse; // Ensures borders are combined

    // Style for the header row
    th {
        border-top: 2px solid $table-border-color;
        border-bottom: 1px solid $table-border-color; // Change the border color above the header
        border-right: none; // Remove right border
        border-left: none; // Remove left border
        font-style: normal;
        font-weight: 400;
    }

    // Style for the body cells
    td {
        border: none; // Remove all borders
        border-top: 1px solid $table-border-color; // Add top border for each row
    }

    // Optional: If you want to add a bottom border for the last row
    tr:last-child td {
        border-bottom: 2px solid $table-border-color; // Add bottom border for the last row
    }
}
