// color code
@import 'color-dark';

// style setting
/*-- scss:defaults --*/

// theme color
:root{
    --black: #{$black-cus};
    --white: #{$white};
    --dark-grey: #{$dark-grey};
    --canvas: #{$summer-vintage-sojamilk};
    --accent-color: #{$accent-color};
    --second-accent-color: #{$second-accent-color};
    --mute-color-dark: #{$AgainAgain-5-hex};
    --background: #{$red_plane-6-hex};
}

body {
    color: var(--white);
    .cell-output {
        background-color: var(--black);
        border-radius: 4px;
    }
}

table {
    // Style for the header row
    th {
        font-style: normal;
        font-weight: 400;
    }
}

$body-bg: $dark-canvas;
$body-color: $ink-on-dark-canvas;
$link-color: $accent-color;

$code-block-bg: $dark-grey;
$code-bg: $dark-grey;
$code-color: #EDA135;
$kbd-color: $dark-grey;